<div class="details">
    <p>Know Your Product !!</p>
    <div class="fields">
        <p class="field-name">Product Serial Code: <span class="value"><%= id %></span></p>
        <p class="field-name">Manufacturing Date: <span class="value"><%= mfd %></span></p>
        <p class="field-name">Consumer Name: <span class="value"><%= consname %></span></p>
        <p class="field-name">Sold Date: <span class="value"><%= date %></span></p>
        <p class="field-name">Price: <span class="value"><%= price %></span></p>
    </div>  
    <div class="msg">Thanks For Trusting Us!!</div>
</div>